<header class="app-header">
  <div class="app-header__content">
    <div>
      <div
        class="app-header__previous-page-btn"
        *ngIf="selectedRoute !== '/select-language'"
        (click)="onClickNavigateToPrevious()"
      >
        <p i18n="@@language-selection" *ngIf="selectedRoute === '/page-one'">
          <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
          Language Selection
        </p>
        <p i18n="@@demo-title" *ngIf="selectedRoute === '/page-two'">
          <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
          Demo Title
        </p>
      </div>
    </div>
    <div>
      <div class="app-header__header-title">
        <p
          i18n="@@language-selection"
          *ngIf="selectedRoute === '/select-language'"
        >
          Language Selection
        </p>
        <p i18n="@@demo-title" *ngIf="selectedRoute === '/page-one'">
          Demo Title
        </p>
        <p i18n="@@second-page" *ngIf="selectedRoute === '/page-two'">
          Second Page
        </p>
      </div>
    </div>
    <div></div>
  </div>
</header>
<hr class="app-hr" />
