<main class="app-page-two">
  <section class="app-page-two__row-section">
    <p>{{ rowOneNumber }}</p>
  </section>
  <section class="app-page-two__row-section">
    <div class="row-section__left-adjusted">
      <p>Right Detail Cell Type</p>
    </div>
    <div class="row-section__right-adjusted">
      <p>{{ rowTwoNumber }}</p>
    </div>
  </section>
  <section class="app-page-two__row-section">
    <p class="text--muted">Left Detail C... 60.215</p>
  </section>
  <section class="app-page-two__row-section">
    <div class="row-section__left-adjusted row-section--add-margin">
      <p class="row-section-p--no-margin">Subtitle Detail Cell Type</p>
      <p class="text--muted row-section-p--no-margin">15.104</p>
    </div>
  </section>
  <section class="app-page-two__row-section">
    <div class="row-section__left-adjusted">
      <p>Custom Cell Type 1</p>
      <p>54.182236 to 67.76654</p>
      <p>First Name</p>
    </div>
    <div class="row-section__right-adjusted">
      <p id="app-page-two__row-section__last-name">Last Name</p>
    </div>
  </section>
</main>
