.app-page-two {
  background-color: #bdbdbd;
  height: calc(100vh - 151px);
  padding-top: 50px;
  font-weight: bold;

  .app-page-two__row-section {
    &:first-child {
      margin-top: 0;
    }
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 50px;
    margin: 50px 0;
    padding: 0 25px;

    .row-section__right-adjusted {
      text-align: right;
    }

    .row-section--add-margin {
      margin: 12px 0;

      .row-section-p--no-margin {
        margin: 0;
      }
    }

    #app-page-two__row-section__last-name {
      margin: 85px 0 15px 0;
    }
  }
}
