/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.app-hr {
  background-color: #dddddd;
  color: #dddddd;
  border: none;
  height: 1px;
  margin: 0;
}
